.carousel-item {
  width: 100%;
  height: 70vh;
}
#signupcpm {
 margin-top: auto;
  margin-left: 10%;
}
#datecpm {  
  margin-top: 5px;  
  margin-left: 10px;  
  width: 600px;  
}  
#modalimage {
  width: 1200px;
  height: 750px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  margin-top: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.carousel-item{
  height: 550px; 
  width: 100%;
}

#carouselimage{
  height: 550px; 
  width: 100%;
  background-repeat: no-repeat;
}

#myModal {
  margin-top: 5rem ;
  height: 450px;
  width: 100%;
}